@media (max-height: 800px){

nav{
    height: 15vh;
}

#elements{
    left: 19%;
    width: 100%;
}
.element{
    bottom: 10vh;
}
.stats{
    height: 15vh;
    width: 4vw;
    left: 12vh;
}
#invo-portrait h5{
    bottom: 17vh;
    right: 54vw;
}
#invo-portrait video{
    width: 15vh;
}
#level{
    width: 4vh;
    height: 4vh;
    font-size: 105%;
    bottom: 2vh;
    line-height: 3.7vh;
}
#talents img{
    bottom: 10.2vh;
    left: 1.8vh;
}

.stats ul{

    font-size: 90%;
    margin-top: 0.1%;
 

}

.spells-invoked{
    bottom: 10vh;
}
#elements-taken{
    bottom: 6vh;
}
.element img{
    background: transparent;
}
.quas,.wex,.exort{
    width: 2.3vw;
    height: 2.3vw;
    background-size: cover;
}


.hp-bar{
top: 8.5vh;
left: 11vw;
font-size: 80%;
line-height: 2.3vh;
}
.mana-bar{
    bottom: 1vh;
    left: 11vw;
    font-size: 80%;
    line-height: 2.3vh;

}
.hp-regen{
    margin-top: 0vh;
}
.mana-regen{
    margin-top: 0vh;

}


.items{
    height: 15vh;
}
.shop-items li{
    font-size: 75%;
}
.shop-items img{
    width: 18%;


}
.spell-combos-show{
    width: 50%;
    bottom: 23vh;

}
.spell-combos-names-show{
    width: 85%;
    bottom: 23vh;
}


.spell-to-invoke{
    font-size: 200%;
}
.time{
    font-size: 80%;
}
.keys-settings-on ul h1{
font-size: 90%;
}
.keys-settings-on li{
    margin-top: 2%;
}
.keys h5{
    top: 1vh;
}





}




