{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="hero">
        <div class="ellipse left-ellipse"></div>
        <div class="ellipse right-ellipse"></div>

        <!-- Include Header -->
        {% include 'header.html' %}

        <div class="content">
            <div class="left">
                <h1>ULTIMATE <br><span class="red">GAMERS</span> <br>HEAVEN</h1>
                <button>УЗНАТЬ ПОДРОБНЕЕ</button>
            </div>
            <div class="right">
                <div class="news">
                    <h3>Последние новости</h3>
                    <div class="user">
                        <img src="static/images/profile.svg" alt="Профиль">
                        <span>Bakhytzhan</span>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="games">
        <div class="game cs2">CS 2</div>
        <div class="game dota2">DOTA 2</div>
    </div>
{% endblock %}